#ifndef CUSTOMIZATIONS_H
#define CUSTOMIZATIONS_H

#define DEV_ENV
#define SERIAL_LOG

#define RESET_PORT 0
#define INTERNAL_LED_PORT 13

#define PRODUCT_VERSION "CUSTOM_PRODUCT"
#define CUSTOM_VERSION "0.1"

#endif //CUSTOMIZATIONS_H
